@if(isAddingTask){
<app-new-task (CancelTaskCreation)="onCancelTask()" (createTask)="onAddTask($event)"></app-new-task>
}
<section id="tasks">
  <header>
    <h2>
      <p>{{ selectedUser?.name }}'s Tasks</p>
    </h2>

    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>
  <ul>
    @for (task of userTasks; track task.id) {
    <li>
      <app-task
        [task]="task"
        (completeTask)="onCompleteTask($event)"
      ></app-task>
    </li>
    }
  </ul>
</section>
